body{display: flex;
    flex-grow: 1;
    /* background-color: red; */
    width: 100%;
    justify-content: center;
    padding: 30px;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

#main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgb(75, 129, 62); */
    min-height: 436px;
    max-height: fit-content;
    width: 940px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#title{
    display: flex;
    flex-direction: row;
    /* background-color: aliceblue; */
    height: 70px;
    width:940px;
    justify-content: space-between;

}
#menu{
    display: flex;
    flex-direction: row;
}
#menu p{
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 15px;
}
#salt{
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    padding-left: 13px;
    padding-right: 10px;
}

#salt p{
    letter-spacing: 0.3em;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}
.social{
    display: flex;
}
.social img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
#img{
    background-color: blue;
    height: 100px;
    width: 100%;
    position: relative;
}
.input-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;

}

.input-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
}
.search-btn {
    width: 15%;
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
}


.search-btn img {
    width: 20px;
    height: 20px;
}

.search-btn:hover {
    background-color: #bbb;
    /* Slight hover effect */
}

#second_main{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    width: 940px;
    height: fit-content;
    /* background-color: rgb(35, 175, 98); */
}
#second_main h2{
    letter-spacing: 0.1em;
    font-family:sans-serif,serif;
    text-align: center;
    padding-bottom: 15px;
}
.first_blog{
    display: flex;
    /* justify-content: ; */
    height: 316px;
    width: 940px;
    margin-bottom: 20px;
    border: 1px solid rgb(156, 149, 149);
    /* background-color: black */
}
.first_blog #details_div{
    /* background-color: blue; */
    width: 488px;
    /* height: 10; */
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 0;
    display: flex;
    padding-right: 50px;
    flex-direction: column;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

.first_blog #admin{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    /* background-color: red; */
}
#profile{
    width: 50px;
    /* background-color: aqua; */
}
#name_date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
#name_date span{
    font-size: 15px;
}
.first_blog p{
    font-size: 12px;
}
#about_blog{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 196px;
    width: 100%;
    /* padding-top: 2px; */
}
#view{
    /* background-color: rgb(255, 72, 0); */
    height: 50px;
    width: 100%;

}
#Miracle
{
    font-size: 30px;
    font-weight: bolder;
    line-height: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#post{
    font-size: 18px;
    
}
#view{
    margin-right: 10px;
    width: 100%;
    /* background-color: rgb(20, 17, 179); */
}
#views{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#view img{
    height: 17px;
}
.Miracle{
    font-size: 30px;
    font-weight: bolder;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#second_main button{
    margin-top: 45px;
    height: 50px;
    border: 5px solid black;
    width: 230px;
    align-self: center;
    background-color: black;
    margin-bottom: 30px;
}
#second_main button span{
    color: white;
}
#second_main button:hover{
    background-color: rgb(255, 255, 255);
}
#second_main button:hover span{
    color: rgb(0, 0, 0);
}
#bottom{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(83, 83, 146); */
    height: fit-content;
    width: 100%;
}
#bottom img{
    height: 247px;
    width: 247px;
}
#bottom .first_bottom{
    height: 247px;
    width: 247px;
    padding-left: 30px;
}
.MADE{
    font-weight: bolder;
    font-family:sans-serif;
    font-size: larger;
    line-height: 32px;

}
.span_MADE{
    display: flex;
    width: 213px;
    height: 63px;
    /* background-color: red; */
}
#bottom #second_bottom
{
    height: 247px;
    width: 247px;
}
.HR{
    margin-top: 30px;
    /* background-color: blue; */
    margin-bottom: 10px;
}
.HR hr{
    position: absolute;
    width: 30px;
    background-color: black;
    border: 0;
    height: 5px;
    /* font-size: 20px; */
}
.about{
    /* background-color: blue; */
    margin-top: 70px;
}
.about .about_span{
    color: #585858;
}
#EX_bottom{
    width: 100%;
    height: 250px;
    margin-top: 90px;
    /* background-color: aqua; */
    display: flex;
}
#EX_bottom_left{
    height: 100%;
    width: 40%;
    /* background-color: rgba(0, 0, 255, 0.39); */
    
}
#EX_bottom_left_div{
    margin-bottom: 30px;
}
#EX_bottom_left_span{
    font-weight: bolder;
    letter-spacing: 0.07em;
    font-family: sans-serif;
    font-size: 22px;

}
#EX_bottom_left hr{
    position: absolute;
    color: black;
    width: 30px;
    height: 5px;
    border: 0;
    background-color: black;
}
#EX_bottom_right{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.322); */
    height: 100%;
    width: 60%;
}
#EX_bottom_right label{
    font-family: sans-serif;
    font-weight:lighter;
}
#EX_bottom_right input{
    margin-top: 10px;
    width: 95.8%;
    padding: 10px;
    margin-bottom: 20px;
}
#subscribe{
    width: 100%;
    display: flex;
    /* height: fit-content; */
    /* background-color: blue; */
    align-items: flex-start;
    justify-content: flex-start;
}
#subscribe input{
    /* position: absolute; */
    /* left: -4.3%; */
    /* top: -1%; */
    width: 20px;
    height: 15px;
    /* padding: 0; */
}

#subscribe span{
    padding-top: 10px;
    font-family: sans-serif;
    padding-left: 8px;
    font-size: 15px;
}
#EX_bottom_right button{
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    border: 5px solid black;
    /* margin-bottom: 20px; */
}
#EX_bottom_right button span{
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
}
#EX_bottom_right button:hover{
    background-color: rgb(255, 255, 255);
}
#EX_bottom_right button:hover span{
    color: rgb(0, 0, 0);
}
#copyright{
    margin-top: 30px;
    font-size: 13px;
    font-family: sans-serif;
    color: #585858;
}